<section>
	<div v-if="data.length !== 0" class="table-container">
		<table>
			<thead>
				<tr>
					<th v-for="column in columns">{{ column.name }}</th>
				</tr>
			</thead>
			<tbody style="visibility: collapse">
				<tr v-for="row in tabledata">
					<td v-for="cell in row">{{ cell }}</td>
				</tr>
			</tbody>
		</table>
		<div class="table-wrap">
			<table>
				<thead style="visibility: collapse">
					<tr>
						<th v-for="column in columns">{{ column.name }}</th>
					</tr>
				</thead>

				<tbody>
					<tr v-for="row in tabledata">
						<td v-for="cell in row">{{ cell }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div v-else class="table-container no-content">
		Ooops no data for this kind of venue in your area :(
	</div>
	<button v-if="showMoreBtn" @click="showMore">Show more</button>
</section>
