@import url("https://fonts.googleapis.com/css?family=Inter:300,400,400i,500,700&subset=cyrillic");

.app {
	height: 100vh;
	width: 100vw;
}

$header-colour: #c5ade6;
$slider-colour: #b689ef;
$button-border: #9678c2;
$input-border: #7b70a5;
$white-trans: rgba(255, 255, 255, 0.15);

#app,
html,
body {
	height: 100%;
	width: 100%;
	font-size: 16px;
	margin: 0;
	font-family: "Fira Sans", sans-serif;
}
#app {
	align-items: center;
	justify-content: space-evenly;
	display: flex;
	flex-direction: column;
}
body {
	background-image: linear-gradient(
		to right top,
		#7f7899,
		#706a87,
		#615c75,
		#524e63,
		#444152
	);
}
h1 {
	font-weight: 300;
	font-size: 3rem;
	// WORKS ONLY IN WEBKIT THO
	background: -webkit-linear-gradient(
		left,
		#b7bdf8 0%,
		#{$slider-colour} 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h3,
th {
	font-size: 1.15rem;
	font-weight: 400;
	color: $header-colour;
	margin: 0;
}
button {
	color: white;
	font-size: 1rem;
	border: 2px solid $button-border;
	margin-top: 2rem;
	padding: 1rem 3rem;
	background-color: transparent;
	cursor: pointer;
	&:hover {
		box-shadow: 11px 14px 20px 0px #2e2e2e3d;
	}
}
.container-wrap {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.controls-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.control-wrap {
	min-width: 20%;
	margin: 1rem;
	background-color: rgb(1, 1, 1, 0.075);
	border-radius: 5px;
	padding: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
//
// TEXT INPUT
//
input[type="text"] {
	outline: none;
	background: none;
	border: none;
	border-bottom: 0.2rem solid $input-border;
	margin-bottom: 0.45rem;
	padding-bottom: 0.5rem;

	color: white;
	font-size: 1.25rem;
	font-weight: 400;
	font-family: "Fira Sans", sans-serif;

	&::placeholder {
		color: white;
		font-size: 1.25rem;
		font-weight: 400;
		font-family: "Fira Sans", sans-serif;
	}
}
//
// SLIDER
//
.radius {
	position: relative;

	@mixin thumb {
		height: 1rem;
		width: 1rem;
		border-radius: 50%;
		background: $slider-colour;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 0px 5px 2px rgba($slider-colour, 0.35);
		}
	}
	@mixin track {
		width: 98%;
		height: 0.25rem;
		color: $slider-colour;
		background-color: $input-border;
		cursor: pointer;
		border-radius: 5px;
		position: absolute;
		top: calc(50% - 0.125rem);
	}

	input[type="range"] {
		width: 90%; /* Specific width is required for Firefox. */
		background: transparent; /* Otherwise white in Chrome */
		border-color: transparent;
		color: transparent;
		-webkit-appearance: none;
		float: right;
		position: relative;
		z-index: 10;

		&:focus {
			outline: none;
		}
		//thumb of slider
		&::-webkit-slider-thumb {
			@include thumb;
			-webkit-appearance: none;
		}
		&::-moz-range-thumb {
			@include thumb;
		}
		&::-ms-thumb {
			@include thumb;
		}
	}
	progress {
		@include track;
		&::-webkit-progress-bar {
			background-color: $input-border;
			border-radius: 5px;
		}
		&::-webkit-progress-value {
			background-color: $slider-colour;
			border-radius: 5px;
		}
		&::-moz-progress-bar {
			background-color: $slider-colour;
			border-radius: 5px;
		}
	}
}
.value-box {
	background: none;
	align-self: center;
	text-align: center;
	color: white;
	font-size: 1rem;
	min-width: 15%;
	padding: 1rem 2rem;
	margin: 2% 0;
	border: 2px solid $button-border;
	border-radius: 5px;
}
//
//GOOGLE STYLING
//
.pac-logo:after {
	display: none !important;
}
.pac-container,
.dropdown {
	background-color: rgb(1, 1, 1, 0.075);
	border: none;
	& .pac-item,
	.dropdown-item {
		color: lightgray;
		border: none;
		&:hover {
			background-color: darken($color: rgb(1, 1, 1, 0.075), $amount: 100);
		}
		& .pac-item-query {
			color: white;
		}
	}
}
//
// ADDITIONAL STYLING OF COMPONENTS
//
.tag {
	background-color: $white-trans;
	& span {
		color: $slider-colour;
	}
}
.table-container {
	width: 70%;
	display: flex;
	justify-content: center;
}
tbody {
	background-color: rgb(1, 1, 1, 0.075);
}
